<div class="container">
    <div class="row">
        <h3 class="mt-2 mb-2 col-12">Bot status.</h3>
        <ul class="list-group ml-3 mb-2 col-lg-3">
            <li class="list-group-item">
                Status: <strong class="text-success"[ngClass]="getStatus() ? 'text-success ': 'text-danger'">{{getStatus()}}</strong>
                    <button class="float-right btn"><fa-icon [icon]="faSync"></fa-icon></button>
            </li>
            <li class="list-group-item">
                Inicio/Apagado
                <button class="btn btn-warning text-light float-right" (click)="activate">{{btnStatus}}</button>
            </li>
        </ul>

        <div class="col-lg-8">
            <button class="btn btn-dark w-100 mb-2" (click)="clearConsole()">Refresh</button>
            <div *ngIf="isAdmin" class="console overflow-auto p-2" id="consoleOutput">
                <p *ngFor="let log of log;">>{{lines()}} // {{date() | date:'medium'}} // {{log.k}}</p>
            </div>
        </div>
    </div>
</div>