<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Bot Configuration.
    </a>

    <ul class="nav justify-content-end">
        <li class="ml-2 nav-item" *ngIf="!currentUser">
            <a class="btn btn-light"><fa-icon [icon]="faBullseye" class="text-success" (click)="getStatus()" [ngClass]="getStatus() ? 'text-success ': 'text-danger'"></fa-icon></a>
        </li>
        <li class="ml-2 nav-item" *ngIf="currentUser">
            <a  class="btn btn-light"><fa-icon [routerLink]="['/bot-status']" [icon]="faBullseye" class="text-success" (click)="getStatus()" [ngClass]="getStatus() ? 'text-success ': 'text-danger'"></fa-icon></a>
        </li>

        <li class="nav-item ml-2">
            <a [routerLink]="['/chat']" class="btn btn-dark">Chat Soporte.</a>
        </li>
        <li class="nav-item ml-2" *ngIf="currentUser">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="config" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faCog"></fa-icon>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="isAdmin">
                    <a class="dropdown-item">
                        Configuraciones y gestiones del bot.
                    </a>
                    <a class="dropdown-item">
                        Gestión de entidades.
                    </a>
                    <a class="dropdown-item">
                        Estado del sistema.
                    </a>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="isEmpresa">
                    <a class="dropdown-item">
                        Configuraciones.
                    </a>
                    <a class="dropdown-item">
                        Gestión de empleados.
                    </a>
                    <a class="dropdown-item">
                        Estado del sistema.
                    </a>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="isEmpleado">
                    <a class="dropdown-item">
                        Configuraciones.
                    </a>
                    <a class="dropdown-item">
                        Gestión de usuarios.
                    </a>
                    <a class="dropdown-item">
                        Estado del sistema.
                    </a>
                </div>
            </div>
        </li>
        <li class="ml-2 nav-item" *ngIf="!currentUser">
            <a [routerLink]="['/login']" class="btn btn-dark">Login</a>
        </li>
        <li class="ml-2 nav-item" *ngIf="currentUser">
            <a class="btn btn-dark text-light" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>