<div class="row mt-4">
    <h3 class="col-lg-12 mt-2 mb-2">Datos personales.</h3>
    <div class="col-lg-4">
        <img src="../../assets/unnamed.jpg" class="w-100" alt="No se encuentra imagen">
    </div>

    <div class="col-lg-8">
        <h4>Datos del usuario.</h4>
        <ul class="list-group">
            <li class="list-group-item"><strong> Email: </strong> {{userFromApi.email}}</li>
            <li class="list-group-item"><strong> Passwd: </strong> ***********</li>
        </ul>
        <br>
        <h4>Datos personales</h4>
        <ul class="list-group">
            <li class="list-group-item"><strong> Nombre: </strong>{{userFromApi.firstName}}</li>
            <li class="list-group-item"><strong> Apellidos: </strong> {{userFromApi.lastName}}</li>
            <li class="list-group-item"><strong> Telefono: </strong> {{userFromApi.phone}}</li>
        </ul>
    </div>
</div>